.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @media screen and (min-width: 479.9px) {
    max-width: 480px;
  }
  @media screen and (min-width: 767.9px) {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }
  @media screen and (min-width: 1279.9px) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}
