$primary-text-color: #202025;
$primary-mod-text-color: #5f6775;
$primary-white-color: #ffffff;
$primary-black-color: #212427;
$accent-text-color: #fe7031;
$accent-mod-text-color: #fd5103;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
