<div class="container search-coctail__error">
    <p class="search-coctail__title">Sorry, we didn't find any cocktail for you</p>
    
    <picture>
        <source
          srcset="
            ./images/noCoctails/errorMobile1x.png  1x,
            ./images/noCoctails/errorMobile2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
          ./images/noCoctails/errorTablet1x.png    1x,
          ./images/noCoctails/errorTablet2x.png 2x
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
          ./images/noCoctails/errorDesctop1x.png    1x,
          ./images/noCoctails/errorDesctop2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="coctail__error-img"
          src="./images/noCoctails/errorMobile1x.png"
          alt="couple in restaurant"
        />
      </picture>
    </div>