<header class="container">
  <div class="header__flex">
    <div class="header__logo">
      <a href="./index.html"><img src="./images/svg/logo.svg" width="123" height="34" /></a>
    </div>
    <nav class="nav__desktop">
      <a class="home__link" href="./index.html">Home</a>
      <div class="js-menu">
        <a class="favorite__link" href="#">Favorite</a>
        <div class="favorite__bar">
          <ul class="bar__list">
            <li class="cocktails__item">
              <a class="cocktails__link" href="./f_coctail.html">Favorite cocktails</a>
            </li>
            <li class="ingredients__item">
              <a class="ingredients__link" href="./f_ingredients.html">Favorite ingredients</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <form class="header__input">
      <button class="input__btn" type="submit"></button>
      <svg class="input__icon" width="24" height="24">
        <use href="./images/svg/sprite.svg#icon-search"></use>
      </svg>
      <input type="text" id="coctail-finder" name="finder" class="search__input" placeholder="Search" />
    </form>
    <div class="switcher">
      <span class="switcher__light">Light</span>
      <div class="switch">
        <input class="switch__input themeSwitch" type="checkbox" id="themeSwitch" />
        <label aria-hidden="true" class="switch__label" for="themeSwitch"></label>
        <div aria-hidden="true" class="switch__marker"></div>
      </div>
      <span class="switcher__dark">Dark</span>
    </div>

    <div class="nav__burger">
      <svg class="menu__icon" width="30" height="16">
        <use href="./images/svg/sprite.svg#icon-burger"></use>
      </svg>
      <div class="mobile__menu box">
        <div class="menu__box">
          <div class="menu__logo">
            <img src="./images/svg/logo.svg" width="123" height="34" />
          </div>
          <button type="button" class="menu__close">
            <svg class="close__icon" width="18" height="18">
              <use href="./images/svg/sprite.svg#icon-close-burger"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>