<header class="container">
    <div class="header__flex">
        <div class="header__logo">
            <img src="./images/svg/logo.svg" width="123.35" height="34">
        </div>
        <div class="header__input">
            <svg class="input__icon" width="18.71" height="18.71">
                <use href="./images/svg/sprite.svg#icon-search">
                </use>
            </svg>
            <input type="text" id="coctail-finder" name="finder" class="search__input" placeholder="Search" />
        </div>
        <nav class="header__nav">
            <svg class="menu__icon" width="30" height="16">
                <use href="./images/svg/sprite.svg#icon-burger"></use>
            </svg>
        </nav>
    </div>
</header>