<div class="container">
    <!--Рендомні пропозиції(стартова сторінка)-->
    <h2 class="main-title">Cocktails</h2>
    <ul class="coctails-list">
        <li class="coctail-card">
            <!-- <img src="" alt="" loading="lazy" /> -->
            <div class="coctail-card__detaile">
                <h3 class="coctail-card__name">Negroni</h3>
                <div class="coctail-card__options">
                    <button class="button-learn_more">Learn more</button>
                    <button class="button-add_to">Add to</button>


                </div>
            </div>

        </li>
    </ul>
</div>