<div class="container">
  <!--Рендомні пропозиції(стартова сторінка)-->
  <h2 class="main-title">Cocktails</h2>
  <ul class="coctails-list">


  </ul>

  <h2 class="main-title">Favorite ingredients</h2>
  <ul class="ingredients-list">
    <li class="ingredients-card">
      <h3 class="ingredients__name">Campari</h3>
      <h5 class="ingredients__type">Liqueur</h5>
      <div class="ingredients-card__options">
        <button class="button-learn_more">Learn more</button>
        <button class="button-remove">
          Remove
          <svg class="heart-icon" width="18" height="18">
            <use href="./images/svg/sprite.svg#icon-Heart"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="ingredients-card">
      <h3 class="ingredients__name">Campari</h3>
      <h5 class="ingredients__type">Liqueur</h5>
      <div class="ingredients-card__options">
        <button class="button-learn_more">Learn more</button>
        <button class="button-remove">
          Remove
          <svg class="heart-icon" width="18" height="18">
            <use href="./images/svg/sprite.svg#icon-Heart"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="ingredients-card">
      <h3 class="ingredients__name">Campari</h3>
      <h5 class="ingredients__type">Liqueur</h5>
      <div class="ingredients-card__options">
        <button class="button-learn_more">Learn more</button>
        <button class="button-remove">
          Remove
          <svg class="heart-icon" width="18" height="18">
            <use href="./images/svg/sprite.svg#icon-Heart"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>