<div class="backdrop is__hidden">
  <div class="modal">
    <button type="button" aria-label="Close button" class="modal__close">
      <svg class="modal__icon" width="24" height="24">
        <use href="./images/svg/clarity_close-line.svg"></use>
      </svg>
    </button>
    <h2 class="coctail">Negroni</h2>
    <h3 class="coctail__instruction">INSTRUCTIONS:</h3>
    <p class="coctail__description">
      Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
      and stir until well-chilled. Strain into a rocks glass filled with large
      ice cubes. Garnish with an orange peel.
    </p>
    <img class="coctail__img" src="./images/Negroni.jpg" alt="Negroni" />
    <h4 class="ingredients">INGREDIENTS</h4>
    <p class="ingredients__denominator">Per coctail</p>
    <ul class="ingredients__list">
      <li class="ingredients__items">✶ Ice</li>
      <li class="ingredients__items">✶ 1 ounce gin</li>
      <li class="ingredients__items">✶ 1 ounce Campari</li>
      <li class="ingredients__items">✶ 1 ounce sweet vermouth</li>
      <li class="ingredients__items">✶ Garnish: orange peel</li>
    </ul>
    <button
      type="button"
      class="button modal__button--favorite"
      aria-label="Add to favorite"
    >
      Add to favorite
    </button>

    <!-- <button
      type="button"
      class="button modal__button--remove"
      aria-label="Remove from favorite"
    >
      Remove from favorite
    </button> -->
  </div>
</div>
