<div class="backdrop--ingredient is__hidden">
  <div class="modal--ingredient">
    <button type="button" aria-label="Close button" class="modal__close">
      <svg class="modal__icon" width="24" height="24">
        <use href="./images/svg/sprite.svg#icon-close-burger"></use>
      </svg>
    </button>
    <h2 class="ingredient">Campari</h2>
    <h3 class="ingredient__sort">Liqueur</h3>
    <div class="line"></div>
    <p class="ingredient__description">
      <b>Campari</b> is an Italian alcoholic liqueur, considered an apéritif
      (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on the country in which it
      is sold), obtained from the infusion of herbs and fruit (including
      chinotto and cascarilla) in alcohol and water. It is a bitters,
      characterised by its dark red colour.
    </p>
    <ul class="ingredient__list">
      <li class="ingredient__items">✶ Type: Bitters</li>
      <li class="ingredient__items">✶ Country of origin: Italy</li>
      <li class="ingredient__items">✶ Alcohol by volume: 20.5–28.5%/li></li>
      <li class="ingredient__items">✶ Flavour: Bitter, spicy and sweet</li>
    </ul>
    <button
      type="button"
      class="button modal__button--favorite--ingredients"
      aria-label="Add to favorite"
    >
      Add to favorite
    </button>

    <!-- <button
      type="button"
      class="button modal__button--remove"
      aria-label="Remove from favorite"
    >
      Remove from favorite
    </button> -->
  </div>
</div>
