<h2 class="modal coctail">Negroni</h2>
<h3 class="coctail__instraction">INSTRACTIONS:</h3>
<p class="coctail__description">
  Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and
  stir until well-chilled. Strain into a rocks glass filled with large ice
  cubes. Garnish with an orange peel.
</p>
<img class="coctail__img" src="./images/Negroni.jpg" alt="Negroni" />
<h4 class="ingredients">INGREDIENTS</h4>
<p class="ingredients__denominator">Per coctail</p>
<ul class="ingredients__list">
  <li class="ingredients__items">✶ Ice</li>
  <li class="ingredients__items">✶ 1 ounce gin</li>
  <li class="ingredients__items">✶ 1 ounce Campari</li>
  <li class="ingredients__items">✶ 1 ounce sweet vermouth</li>
  <li class="ingredients__items">✶ Garnish: orange peel</li>
</ul>
<button type="button" class="modal__button">Add to favorite</button>
