.f-coctails__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: #202025;
  max-width: 280px;
  margin-bottom: 80px;

  @media screen and (min-width: $tablet) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #202025;
    max-width: 493px;
    margin-bottom: 78px;
  }
  @media screen and (min-width: $desktop) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #000000;
    max-width: 464px;
    margin-bottom: 60px;
  }
}

.f-coctails__item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #202025;
  max-width: 239px;

  @media screen and (min-width: $tablet) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: #202025;
    max-width: 296px;
  }
  @media screen and (min-width: $desktop) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 72px;
    text-align: center;
    color: #202025;
    max-width: 385px;
  }
}
.f-coctails__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-coctails {
  margin-top: 60px;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin-top: 56px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 60px;
  }
}
