.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header__nav {
  display: none;

  &.open {
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    top: 180px;
    left: 20px;
  }
}

.home__link,
.favorite__link {
  font-family: poppins;
  font-size: 28px;
  line-height: 1.1;
  padding: 0;
  &:hover, &:focus {
    color: $accent-mod-text-color;
  }
}

.home__link {
  margin-bottom: 32px;
}

.js-menu {
  margin-top: 0px;
}

.favorite__bar {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 2;
  opacity: 0;
  top: 40px;
  left: 0px;
  &.active {
    visibility: visible;
    opacity: 1;
    transition-duration: 1300ms;
    top: 15px;
    left: 0px;
  }
}

.cocktails__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-white-color;
  font-family: poppins;
  font-size: 18px;
  line-height: 1.3;
  border: 1px solid $accent-mod-text-color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;

  &:hover {
    background-color: $accent-mod-text-color;
  }
}

.cocktails__link {
  padding: 12px;
  padding-right: 35px;
  &:hover {
    color: $primary-white-color;
  }
}

.ingredients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-text-color;
  font-family: poppins;
  font-size: 18px;
  line-height: 1.3;
  border: 1px solid $accent-mod-text-color;
  border-top: 0;

  &:hover {
    background-color: $accent-mod-text-color;
  }
}

.ingredients__link {
  padding: 12px;
  &:hover {
    color: $primary-white-color;
  }
}

.header__input {
  display: none;
  &.open {
  display: flex;
  z-index: 3;
  position: absolute;
  top: 90px;
  left: -12px;
  width: 100%;
}
}

.input__btn {
  width: 40px;
  height: 40px;
  position: relative;
  left: 30px;
  background-color: transparent;
  border-left: 0;
  border-right: 1px solid $accent-mod-text-color;
  border-top: 0;
  border-bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.input__icon {
  position: relative;
  margin-right: -30px;
  z-index: 1;
  top: 9px;
}

.input__search {
  width: 94%;
  height: 40px;
  border: 1px solid $accent-mod-text-color;
  border-radius: 4px;
  padding-left: 44px;
  caret-color: $primary-mod-text-color;
  &::placeholder {
    color: $primary-mod-text-color;
  }
}

.menu__icon {
  cursor: pointer;
  margin-top: 12px;
}

.menu__mobile {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $primary-white-color;
  transition-duration: 1300ms;
  &.open {
    display: flex;
    visibility: visible;
    flex-direction: column;
    opacity: 1;
  }
}

.menu__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu__logo {
  display: none;
}

.menu__close {
  background-color: transparent;
  border: 0;
  left: 90%;
  cursor: pointer;
  margin-left: auto;
  margin-top: 12px;
}

.overflow {
  overflow: hidden;
}

@media screen and (min-width: $tablet) {
  .header__nav {
    &.open {
      left: 50%;
    }
  }
  
  .header__input {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: auto;
    margin-top: 10px;
      &.open {
        display: none;
  }
}
  .input__icon {
    top: 0;
  }
  .menu__box {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu__logo {
    display: block;
    margin-right: 60px;
  }
  .nav__mobile {
    align-items: center;
  }
  .menu__close {
    margin-right: 0;
    margin-top: 0;
  }
}


@media screen and (min-width:$desktop) {
  .menu {
    display: none;
  }
  .header__input {
    margin-right: 170px;
  }
  .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 43px;
  gap: 60px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;
  }
  .home__link, .favorite__link {
    font-family: poppins;
    font-size: 18px;
    line-height: 1.3;
    padding: 15px 0;
  }
  .home__link {
    margin-bottom: 0;
  }
  .js-menu {
    margin-top: 97px;
  }
  .switcher {
    margin-top: 18px;
  }
}
