.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header__input {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: auto;
    &::after {
      position: relative;
      content: '';
      width: 1px;
      height: 40px;
      background-color: #fd5103;
      right: 250px;
    }
  }
  @media screen and(min-width: $desktop){
  margin-right: 170px;
  }
}

.menu__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.menu__logo {
  display: none;
  @media screen and (min-width:$tablet) {
  display: block;
  }
}

.mobile__menu{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 22px;
  transition-duration: 2300ms;
  &.open{
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.menu__close {
  background-color: transparent;
  border: 0;
  margin-top: 20px;
  position: relative;
  left: 90%;
  @media screen and(min-width: $tablet) {
    margin: 0;
    position: absolute;
  }
}

.finder__icon {
  position: relative;
  bottom: 28px;
  left: 12px;
}


.menu__input {
  display: flex;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 40px;
  position: relative;
  width: auto;
  &::after {
      position: relative;
      content: '';
      width: 1px;
      height: 39px;
      background-color: #fd5103;
      top: -11px;
      left: -205px;
    }
  @media screen and(min-width: $tablet) {
    display: none;
  }
}

.cocktail-finder {
width: auto;
height: 40px;
border: 1px solid #fd5103;
border-radius: 4px;
padding-left: 50px;
caret-color: #5f6775;
display: flex;
flex-direction: column;
&::placeholder {
  color: #5f6775;
}
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and(min-width: $tablet) {
  align-items: center;
  }
}

.input__icon {
  position: relative;
  margin-right: -28px;
  z-index: 1;
}

.search__input {
  width: 288px;
  height: 40px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding-left: 44px;
  caret-color: #5f6775;
  &::placeholder {
    color: #5f6775;
  }
}

.nav__burger {
  @media screen and(min-width: $desktop){
    display: none;
  }
}

.nav__desktop {
  display: none;
  @media screen and(min-width: $desktop){
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 43px;
    gap: 60px;
    margin-top: 11px;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
  }
}

.favorite__bar {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  &.active {
      display: block;
      visibility: visible;
      opacity: 1;
      transition-duration: 2300ms;
      top: 60px;
      left: 320px;
    }
}

.cocktails__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.ingredients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fd5103;
  color: white;
}

.cocktails__link {
  padding: 12px;
  padding-right: 35px;
  border: 1px solid #fd5103;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
}

.ingredients__link {
  padding: 12px;
  padding-right: 20px;
}

.overflow {
  overflow: hidden;
}