.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header__nav {
  // display: none;
  opacity: 0;
  transform: translateX(-300%);
  transition: 300ms transform ease;

  &.open {
    display: flex;
    transform: translateX(0);
    flex-direction: column;
    z-index: 3;
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 20px;
  }
}

.header__home__link,
.header__favorite__link {
  font-family: poppins;
  font-size: 28px;
  line-height: 1.1;
  padding: 0;
  &:hover,
  &:focus {
    color: $accent-mod-text-color;
  }
}

.header__home__link {
  margin-bottom: 32px;
}

.js-menu {
  margin-top: 0px;
}

// .header__favorite__bar {
//   visibility: hidden;
//   opacity: 0;
//   position: relative;
//   z-index: 2;
//   opacity: 0;
//   top: 40px;
//   left: 0px;
//   &.active {
//     visibility: visible;
//     opacity: 1;
//     transition-duration: 1300ms;
//     top: 15px;
//     left: 0px;
//   }
// }

.header__cocktails__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-white-color;
  font-family: poppins;
  font-size: 18px;
  line-height: 1.3;
  border: 1px solid $accent-mod-text-color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;

  &:hover {
    background-color: $accent-mod-text-color;
  }
}

.header__cocktails__link {
  padding: 12px;
  padding-right: 35px;
  &:hover {
    color: $primary-white-color;
  }
}

.header__ingredients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-text-color;
  font-family: poppins;
  font-size: 18px;
  line-height: 1.3;
  border: 1px solid $accent-mod-text-color;
  border-top: 0;

  &:hover {
    background-color: $accent-mod-text-color;
  }
}

.header__ingredients__link {
  padding: 12px;
  &:hover {
    color: $primary-white-color;
  }
}

.input {
  // display: none;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  top: 90px;
  left: -12px;
  width: 100%;
  transform: translateX(-400%);
  transition: 300ms all ease;
  &.open {
    pointer-events: all;
    display: flex;
    z-index: 3;
    opacity: 1;
    transform: translateX(0);
    position: absolute;
  }
}

.input__btn {
  width: 40px;
  height: 40px;
  position: relative;
  left: 30px;
  background-color: transparent;
  border-left: 0;
  border-right: 1px solid $accent-mod-text-color;
  border-top: 0;
  border-bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.input__icon {
  position: relative;
  margin-right: -30px;
  z-index: 1;
  top: 9px;
}

.input__search {
  width: 94%;
  height: 40px;
  border: 1px solid $accent-mod-text-color;
  border-radius: 4px;
  padding-left: 44px;
  caret-color: $primary-mod-text-color;
  &::placeholder {
    color: $primary-mod-text-color;
  }
}

.menu__icon {
  cursor: pointer;
  margin-top: 12px;
}

.menu__mobile {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $primary-white-color;
  transform: translateX(-100%);
  transition: 300ms all ease;
  &.open {
    display: flex;
    visibility: visible;
    transform: translateX(0);
    flex-direction: column;
    opacity: 1;
  }
}

.menu__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu__logo {
  display: none;
}

.menu__close {
  background-color: transparent;
  border: 0;
  left: 90%;
  cursor: pointer;
  margin-left: auto;
  margin-top: 12px;
}

.overflow {
  overflow: hidden;
}

.header__favorite__bar {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 2;

  top: 10px;
  left: 30px;
  transform: scaleX(0);
  border-radius: 5px;

  // transform: translate(-50%, -50%) scaleX(0);
  overflow: hidden;
  transition: 300ms all ease;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
  }
}
.header__fav-arrow {
  color: black;
  margin-left: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    color: $primary-mod-text-color;
  }
}

@media screen and (min-width: $tablet) {
  .header__nav {
    &.open {
      left: 45%;
    }
  }

  .input {
    opacity: 1;
    top: 0;
    left: 0;
    width: 288px;
    transform: none;
    transition: none;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: auto;
    margin-top: 10px;
    transition: none;
    &.open {
      display: none;
    }
  }
  .input__icon {
    top: 0;
  }
  .menu__box {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu__logo {
    display: block;
    margin-right: 60px;
  }
  .nav__mobile {
    align-items: center;
  }
  .menu__close {
    margin-right: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: $desktop) {
  .header__favorite__bar {
    top: 0;
    left: 75px;
    transform: translate(-50%, -50%) scaleX(0);
    overflow: hidden;
    transition: 300ms all ease;

    &.active {
      opacity: 1;
      transform: translate(0, 0) scaleX(1);
    }
  }
  .header__fav-arrow {
    display: none;
  }
  .header__fav-arrow {
    display: none;
  }
  .menu {
    display: none;
  }
  .input {
    position: relative;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 288px;
    transform: translateX(0);
    opacity: 1;
    margin-right: 170px;
  }
  .header__nav {
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    transform: none;
    transition: none;
    align-items: center;
    margin-left: 43px;
    gap: 60px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.3;
  }
  .header__home__link,
  .header__favorite__link {
    font-family: poppins;
    font-size: 18px;
    line-height: 1.3;
    padding: 15px 0;
  }
  .header__home__link {
    margin-bottom: 0;
  }
  .js-menu {
    margin-top: 97px;
  }
  .switcher {
    margin-top: 18px;
  }
}
