.header__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

}

.input__icon {
    margin-right: -29px;
    z-index: 1;
}

.header__input {
    display: none;

    @media screen and (min-width: 480px) {
        display: flex;
        align-items: center;
        margin-right: 40px;
        margin-left: auto;

        &::after {
            position: relative;
            content: "";
            width: 1px;
            height: 40px;
            background-color: #FD5103;
            right: 250px;
        }
    }
}

.search__input {
    width: 288px;
    height: 40px;
    border: 1px solid #FD5103;
    border-radius: 4px;
    padding-left: 44px;
    caret-color: #5F6775;

    &::placeholder {
        color: #5F6775;
    }
}