.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header__input {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: auto;
    &::after {
      position: relative;
      content: '';
      width: 1px;
      height: 40px;
      background-color: #fd5103;
      right: 250px;
    }
  }
  @media screen and(min-width: $desktop) {
    margin-right: 170px;
  }
}

.input__btn {
  width: 40px;
  height: 40px;
  position: relative;
  left: 30px;
  background-color: transparent;
  border: 0;
  z-index: 2;
  cursor: pointer;
}

.menu__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.menu__logo {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.mobile__menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 22px;
  transition-duration: 2300ms;
  &.open {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.menu__close {
  background-color: transparent;
  border: 0;
  margin-top: 20px;
  position: relative;
  left: 90%;
  @media screen and(min-width: $tablet) {
    margin: 0;
    position: absolute;
  }
}

.finder__icon {
  position: relative;
  bottom: 28px;
  left: 12px;
}

.menu__input {
  display: flex;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 40px;
  position: relative;
  width: auto;
  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 39px;
    background-color: #fd5103;
    top: 0;
    left: 40px;
  }
  @media screen and(min-width: $tablet) {
    display: none;
  }
}

.finder__box {
  width: 100%;
}

.cocktail__finder {
  width: 100%;
  height: 40px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding-left: 50px;
  caret-color: #5f6775;
  display: flex;
  flex-direction: column;
  &::placeholder {
    color: #5f6775;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and(min-width: $tablet) {
    align-items: center;
  }
}

.menu__link {
  font-family: poppins;
  font-size: 28px;
  line-height: 1.16;
}

.input__icon {
  position: relative;
  margin-right: -28px;
  z-index: 1;
}

.search__input {
  width: 288px;
  height: 40px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding-left: 44px;
  caret-color: #5f6775;
  &::placeholder {
    color: #5f6775;
  }
}

.nav__burger {
  @media screen and(min-width: $desktop) {
    display: none;
  }
}

.nav__desktop {
  display: none;
  @media screen and(min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 43px;
    gap: 60px;
    margin-top: 11px;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
  }
}

.favorite__bar {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  &.active {
    display: block;
    visibility: visible;
    opacity: 1;
    transition-duration: 2300ms;
    top: 60px;
    left: 490px;
  }
}

.home__link,
.favorite__link {
  font-family: poppins;
  font-size: 18px;
  line-height: 1.3;
}

.cocktails__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: poppins;
  font-size: 18px;
  line-height: 1.3;
}

.ingredients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fd5103;
  color: white;
  font-family: poppins;
  font-size: 18px;
  line-height: 1.3;
}

.cocktails__link {
  padding: 12px;
  padding-right: 35px;
  border: 1px solid #fd5103;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
}

.ingredients__link {
  padding: 12px;
}

.overflow {
  overflow: hidden;
}

// SWITCHER

.switcher {
  display: flex;
}

[data-theme='dark'] {
  background-color: black;
  color: white;
}

$switch-width: 64px;
$switch-height: 32px;
$switch-padding: 3px;

$switch-animation-duration: 1s;

.switch {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  width: $switch-width;
  height: $switch-height;
  border-radius: 50em;
  padding: $switch-padding 0;
}

.switch__input,
.switch__label {
  position: absolute;
  left: 0;
  top: 0;
}

.switch__input {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;

  &:checked + .switch__label {
    background-color: $accent-mod-text-color;
  }

  &:checked + .switch__label + .switch__marker {
    left: calc(100% - $switch-height + $switch-padding);
  }
}

.switch__label {
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: $primary-mod-text-color;
  border-radius: inherit;
  z-index: 1;
  transition: background $switch-animation-duration;
}

.switch__marker {
  position: relative;
  background-color: white;
  width: calc($switch-height - $switch-padding * 2);
  height: calc($switch-height - $switch-padding * 2);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.25);
  left: $switch-padding;
  transition: left $switch-animation-duration;
  will-change: left;
}
