.hero {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  @media screen and (min-width: $tablet) {
    margin-top: 75px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 80px;
  }
}

.container__hero {
  margin-bottom: 0;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.hero__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  color: $accent-mod-text-color;
  font-size: 22px;
  line-height: 1.91;
  display: flex;
  @media screen and (max-width: $tablet) {
    margin: auto;
  }
  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 1.62;
    width: 336px;
    height: 84px;
    margin-top: 23px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 52px;
    line-height: 1.54;
    width: 688px;
    height: 160px;
  }
}
.hero__chose {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    margin-top: -247px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: -310px;
  }
}
.hero__search {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  opacity: 0.8;
  font-size: 14px;
  line-height: 2;
  color: #202025;
  @media screen and (max-width: $tablet) {
    margin: 20px auto;
  }
  @media screen and (min-width: $tablet) {
    margin: 40px 0;
  }
  @media screen and (min-width: $desktop) {
    margin: 40px 0;
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 40px;
  }
}

.hero__input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 5px 8px 5px 10px;
  cursor: pointer;

  width: 93px;
  height: 34px;
  border: 1px solid $accent-mod-text-color;
  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.hero__js-letter {
  @media screen and (max-width: $tablet) {
    display: flex;
    width: 36px;
    height: 22px;
    display: flex;
    position: absolute;
    top: 7px;
    left: 5px;
  }
}

.hero__list {
  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;

    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    &.active {
      display: block;
      visibility: visible;
      opacity: 1;
      transition-duration: 300ms;
    }
  }
  @media screen and (max-width: $tablet) {
    scrollbar-color: $accent-mod-text-color;
    // scrollbar-width: 1px;
    border: 1px solid $accent-mod-text-color;
    border-radius: 4px;
    width: 93px;
    height: 84px;
    overflow-y: auto;

    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    &.active {
      display: block;
      visibility: visible;
      opacity: 1;
      transition-duration: 300ms;
      top: 34px;
      left: 0;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 312px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 520px;
  }
}

.hero__list:active {
  @media screen and (max-width: $tablet) {
    color: #fcfcfc;
  }
}

.hero__svg {
  z-index: 1;
  fill: currentColor;

  &:focus,
  &:hover {
    background: $accent-mod-text-color;
    color: #fcfcfc;
  }
  @media screen and (min-width: $tablet) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.hero__select {
  @media screen and (max-width: 767.99px) {
    display: flex;
    margin: auto;
    width: 93px;
    height: 34px;
    position: relative;

    &:focus,
    &:hover {
      background-color: $accent-mod-text-color;
      border-radius: 4px;
      color: #fcfcfc;
    }
  }
}

.hero__item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: $primary-mod-text-color;

  &:hover,
  &:focus {
    cursor: pointer;
  }
  @media screen and (max-width: $tablet) {
    // font-size: 14px;
    // line-height: 1.5;
    width: 66px;
    height: 28px;
    padding: 10px 4px;
    display: flex;
    justify-content: flex-start;
  }
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.5;
    width: 24px;
    height: 25px;
  }

  @media screen and (min-width: $desktop) {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.letter__is-active {
  @media screen and (min-width: $tablet) {
    -webkit-text-stroke: 1px $primary-mod-text-color;
    text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
    color: $accent-mod-text-color;
  }
}

.hero__img-favorites {
  // @media screen and (max-width: $tablet) {
  margin: 60px auto;
  width: 280px;
  height: 245px;

  //}
  @media screen and (min-width: $tablet) {
    margin-top: 0;
    width: 336px;
    height: 294px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    width: 501px;
    height: 439px;
  }
}

.active {
  @media screen and (max-width: 767.99px) {
    margin-bottom: 80px;
  }
}

.hero__select {
  @media screen and (max-width: 767.99px) {
    display: flex;
    margin: auto;
    width: 93px;
    height: 34px;
    position: relative;

    &:focus,
    &:hover {
      background-color: $accent-mod-text-color;
      border-radius: 4px;
      color: #fcfcfc;
    }
  }
}

.hero__item--mod {
  display: none;
  opacity: 0;
}

@media screen and (min-width: $desktop) {
  .hero__item--mod {
    display: flex;
    pointer-events: none;
  }
}

.menu__icon {
  &:hover {
    fill: $accent-mod-text-color;
  }
}

.close__icon {
  &:hover {
    fill: $accent-mod-text-color;
  }
}
