.coctails-list,
.ingredients-list {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    margin-top: 56px;
    margin-bottom: 60px;
    gap: 32px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 60px;
  }
}
.main-title {
  margin-top: 40px;
  display: flex;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  text-align: center;
  justify-content: center;
  color: $primary-text-color;
  @media screen and (min-width: $tablet) {
    margin-top: 60px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
  }
}
.coctail-card {
  position: relative;
  margin: auto;
  width: 280px;
  height: 449px;
  border: 1px solid $accent-mod-text-color;
  border-radius: 5px;
  @media screen and (min-width: $tablet) {
    width: 335px;
    height: 541px;
  }
  @media screen and (min-width: $desktop) {
    width: 395px;
    height: 556px;
  }
}
.img {
  width: 278px;
  height: 279px;
  background-color: $primary-white-color;
  border-radius: 5px 5px 0 0;
  @media screen and (min-width: $tablet) {
    width: 333px;
    height: 395px;
  }
  @media screen and (min-width: $desktop) {
    width: 393px;
    height: 395px;
  }
}
.coctail-card__options {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
  }
}

.ingredients-card__options {
  display: flex;
  justify-content: center;
}
.coctail-card__name,
.ingredients__name {
  height: 106px;
  display: flex;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $primary-text-color;
  @media screen and (min-width: $tablet) {
    height: 78px;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: $desktop) {
    height: 85px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.19;
  }
}
.button-learn_more {
  margin-right: 20px;
  width: 108px;
  height: 39px;
  background-color: $accent-text-color;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  @media screen and (min-width: $tablet) {
    margin-right: 12px;
    width: 160px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 16px;
    width: 182px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.button-add_to,
.button-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 39px;
  background: white;
  border: 2px solid $accent-mod-text-color;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $accent-mod-text-color;
  @media screen and (min-width: $tablet) {
    width: 123px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: $desktop) {
    width: 141px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.heart-icon {
  fill: $primary-white-color;
  margin-left: 9px;
  @media screen and (min-width: $mobile) {
    margin-left: 6px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 6px;
  }
}
.ingredients-card {
  margin: auto;
  width: 280px;
  height: 177px;
  padding: 20px;
  border: 1px solid $accent-mod-text-color;
  border-radius: 5px;
  @media screen and (min-width: $mobile) {
    width: 335px;
    height: 205px;
  }
  @media screen and (min-width: $tablet) {
    padding: 28px;
    width: 395px;
    height: 221px;
  }
}
.ingredients__name {
  margin: 0;
  justify-content: flex-start;
  text-align: left;
  height: 37px;
}
.ingredients__type {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
  @media screen and (min-width: $mobile) {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

