.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);

  z-index: 3;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms $cubic, translate 250ms $cubic;
}

.is__hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  .backdrop.is__hidden & {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
}

.modal {
  width: 100%;
  height: 760px;
  padding: 40px 20px;
  opacity: 1;

  overflow-y: scroll;

  font-family: 'Poppins';

  background-color: $primary-white-color;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 720px;
    height: 530px;

    padding: 15px 10px;

    display: flex;
    flex-direction: column;

    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
  }
  @media screen and (orientation: landscape) and (max-height: 458px) {
    top: 0;
    transform: translate(-50%, 0);
  }
  @media screen and (min-width: $desktop) {
    width: 820px;
    height: 550px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms $cubic, opacity 500ms $cubic;
  }
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;

  background-color: transparent;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.coctail {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 900;
  line-height: 1.17;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 40px;
    left: 330px;
  }
}

.coctail__instruction {
  margin-top: 20px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.62;

  @media screen and (min-width: $tablet) {
    margin-top: 28px;
    margin-left: 18px;
  }
}

.coctail__description {
  margin-top: 24px;

  font-size: 16px;
  line-height: 1.75;

  overflow-y: scroll;

  @media screen and (min-width: $tablet) {
    order: +1;

    margin-top: 10px;
    margin-left: 18px;

    display: inline-block;
    height: 85px;
    width: 515px;
  }

  @media screen and (min-width: $desktop) {
    height: 85px;
    width: 615px;
  }
}

.coctail__img {
  border-radius: 5px;

  margin-top: 15px;

  @media screen and (min-width: $tablet) {
    order: -1;

    margin-top: 0;

    height: 320px;
    width: 288px;
  }
}

.ingredients {
  margin-top: 20px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 100px;
    left: 330px;
  }
}

.ingredients__denominator {
  margin: 8px 0;

  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 141px;
    left: 330px;
  }
}

.ingredients__list {
  font-size: 16px;
  line-height: 1.62;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 175px;
    left: 330px;

    height: 155px;
    width: 220px;
    overflow-y: scroll;
  }
}

.ingredients__items {
  cursor: pointer;
  &:hover,
  &:focus {
    color: $accent-mod-text-color;
  }
}

.button {
  display: block;

  font-family: 'Roboto';
  font-size: 20px;
  line-height: 1.2;

  background-color: $accent-mod-text-color;
  border-color: transparent;
  color: $primary-white-color;

  border-radius: 5px;
}

.modal__button--favorite {
  height: 48px;

  padding: 5px;
  margin-top: 30px;

  @media screen and (min-width: $tablet) {
    order: +2;

    margin-top: 20px;
    margin-left: 500px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 580px;
  }
}

// .modal__button--remove {
//   width: 248px;
//   height: 48px;

//   @media screen and (min-width: $tablet) {
//     order: +2;
//     margin-left: 440px;
//   }

//   @media screen and (min-width: $desktop) {
//     margin-left: 540px;
//   }
// }

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $accent-mod-text-color;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.scroll_off {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
