.backdrop--ingredient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);

  z-index: 3;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms $cubic;
}

.backdrop--ingredient.is__hidden {
  opacity: 0;
  pointer-events: none;
}

.modal--ingredient {
  .backdrop--ingredient.is__hidden & {
    transform: translate(-50%, -50%) scale(2) rotate(2turn);
    opacity: 0;
  }
}

.modal--ingredient {
  width: 100%;
  height: 760px;
  padding: 30px;
  opacity: 1;

  overflow-y: scroll;

  font-family: 'Popins';

  background-color: $primary-white-color;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 720px;
    height: 570px;

    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
  }
  @media screen and (orientation: landscape) and (max-height: 458px) {
    top: 0;
    transform: translate(-50%, 0);
  }
  @media screen and (min-width: $desktop) {
    width: 820px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms $cubic, opacity 500ms $cubic;
  }
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;

  background-color: transparent;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.ingredient {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 900;
  line-height: 1.17;
}

.ingredient__sort {
  margin-top: 20px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.62;
}

.line {
  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    margin-bottom: 30px;

    display: block;
    width: 100%;
    border-bottom: 1px solid;
    border-color: $accent-text-color;
  }
}

.ingredient__description {
  margin-top: 24px;

  font-size: 16px;
  line-height: 1.75;

  @media screen and (min-width: $tablet) {
    height: 180px;

    overflow-y: scroll;
  }

  @media screen and (min-width: $desktop) {
    height: 180px;

    overflow-y: scroll;
  }
}

.ingredient__list {
  margin-top: 30px;

  font-size: 16px;
  line-height: 1.62;

  overflow-y: scroll;
}

.button {
  display: block;

  font-family: 'Roboto';
  font-size: 20px;
  line-height: 1.2;

  background-color: $accent-mod-text-color;
  border-color: transparent;
  color: $primary-white-color;

  border-radius: 5px;
}

.modal__button--favorite--ingredients {
  height: 48px;
  width: 210px;

  padding: 5px;
  margin-top: 30px;

  @media screen and (min-width: $tablet) {
    order: +2;

    margin-top: 45px;
    margin-left: 440px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 40px;
    margin-left: 540px;
  }
}

// .modal__button--remove {
//   width: 248px;
//   height: 48px;

//   @media screen and (min-width: $tablet) {
//     margin-left: 440px;
//   }

//   @media screen and (min-width: $desktop) {
//     margin-left: 540px;
//   }
// }
