.js-pagination {
  display: flex;
  gap: 10px;
  margin: 0 auto 20px auto;
  justify-content: center;
  font-weight: bold;
  @media screen and (min-width: $tablet) {
    gap: 15px;
  }
}

.pag__btn,
.pag__btn-span {
  font-size: 55%;
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid $accent-text-color;
  text-decoration: none;
  border-radius: 50%;
  background: #fff;
  color: #242b36;
  user-select: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  @media screen and (min-width: $tablet) {
    width: 40px;
    height: 40px;
    font-size: 100%;
  }
}
.pag__btn:hover,
.pag__btn:focus {
  cursor: pointer;
}
.pag__btn-span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pag__btn--active {
  background-color: rgb(254, 112, 49);
  color: $primary-white-color;
}
