.js-pagination {
  display: flex;
  gap: 15px;
  margin: 0 auto 20px auto;
  justify-content: center;
  font-weight: bold;
}

.pag__btn,
.pag__btn-span {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid $accent-text-color;
  text-decoration: none;
  border-radius: 5px;
  background: #fff;
  color: #242b36;
  user-select: none;
}
.pag__btn:hover,
.pag__btn:focus {
  cursor: pointer;
}
.pag__btn-span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pag__btn--active {
  background-color: rgb(254, 112, 49);
  color: $primary-white-color;
}
