// SWITCHER

.switcher {
  display: none;
  opacity: 0;
  transform: translateX(-100%);
  transition: 300ms all ease;
  &.open {
    z-index: 3;
    display: flex;
    opacity: 1;
    transform: translateX(0);
    position: absolute;
    left: 20px;
    top: 23px;
    @media screen and (min-width: $mobile) {
      left: 20px;
    }
    @media screen and (min-width: $tablet) {
      left: 42%;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }
}

.switcher__light {
  color: $accent-mod-text-color;
  margin-right: 12px;
  font-family: poppins;
  font-size: 18;
  line-height: 1.3;
}

.switcher__dark {
  color: $primary-mod-text-color;
  margin-left: 12px;
  font-family: poppins;
  font-size: 18;
  line-height: 1.3;
}

[data-theme='dark'] {
  background-color: $primary-black-color;
  color: $primary-white-color;

  .switcher__light {
    color: $primary-mod-text-color;
  }

  .switcher__dark {
    color: $accent-mod-text-color;
  }

  .header__cocktails__item {
    color: $primary-white-color;
    background-color: $primary-black-color;

    &:hover {
      background-color: $accent-mod-text-color;
    }
  }

  .header__ingredients__item {
    color: $primary-white-color;
    background-color: $primary-black-color;

    &:hover {
      background-color: $accent-mod-text-color;
    }
  }

  .coctail-card__name {
    color: $primary-white-color;
  }

  .hero__search {
    color: $primary-white-color;
  }

  .main-title {
    color: $primary-white-color;
  }

  .button-add_to {
    background-color: $primary-black-color;
  }

  .heart-icon {
    fill: $primary-black-color;
  }

  .modal {
    color: white;
    background-color: $primary-black-color;
  }

  .modal__close {
    fill: $primary-white-color;
    &:hover {
      fill: $accent-mod-text-color;
    }
  }

  .button-remove {
    background-color: $primary-black-color;
  }
  .ingredients__name {
    color: $primary-white-color;
  }

  .ingredients__type {
    color: $primary-mod-text-color;
  }

  .modal--ingredient {
    background-color: $primary-black-color;
  }

  .menu__icon {
    fill: $primary-white-color;
    &:hover {
      fill: $accent-mod-text-color;
    }
  }

  .close__icon {
    fill: $primary-white-color;
    &:hover {
      fill: $accent-mod-text-color;
    }
  }

  .menu__mobile.open {
    background-color: $primary-black-color;
  }

  .shadow {
    box-shadow: 0px 10px 10px -10px $accent-mod-text-color;
  }

  .f_ingredients__title {
    color: $primary-white-color;
  }

  .f-coctails__title {
    color: $primary-white-color;
  }

  .header__fav-arrow {
    fill: $accent-mod-text-color;
  }

  .header__favorite__link {
    &:hover .header__fav-arrow,
    &:focus .header__fav-arrow {
      fill: $primary-white-color;
    }
  }
}

$switch-width: 64px;
$switch-height: 32px;
$switch-padding: 3px;

$switch-animation-duration: 1s;

.switch {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  width: 40px;
  height: $switch-height;
  border-radius: 50em;
  padding: $switch-padding 0;
}

.switch__input,
.switch__label {
  position: absolute;
  left: 0;
  top: 0;
}

.switch__input {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;

  &:checked + .switch__label {
    background-color: $accent-mod-text-color;
  }

  &:checked + .switch__label + .switch__marker {
    left: 20px;
    background-color: $primary-white-color;
  }
}

.switch__label {
  width: 40px;
  height: 20px;
  color: transparent;
  user-select: none;
  background-color: transparent;
  border: 1px solid $accent-mod-text-color;
  border-radius: inherit;
  z-index: 1;
  transition: background $switch-animation-duration;
}

.switch__marker {
  position: relative;
  background-color: $accent-mod-text-color;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.25);
  left: $switch-padding;
  bottom: 6px;
  transition: left $switch-animation-duration;
  will-change: left;
}
