// SWITCHER

.switcher {
  display: none;
  // display: flex;
}

[data-theme='dark'] {
  background-color: black;
  color: white;

  .cocktails__link {
    color: white;
  }

  .coctail-card__name {
    color: white;
  }

  .hero__search {
    color: white;
  }

  .main-title {
    color: white;
  }

  .button-add_to {
    background-color: black;
  }

  .heart-icon {
    fill: black;
  }

  .modal {
    color: white;
    background-color: black;
  }

  .modal__close {
    fill: white;
  }
}

[data-theme='dark-text'] {
  color: white;
}

[data-theme='dark-back'] {
  background-color: black;
}

$switch-width: 64px;
$switch-height: 32px;
$switch-padding: 3px;

$switch-animation-duration: 1s;

.switch {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  width: $switch-width;
  height: $switch-height;
  border-radius: 50em;
  padding: $switch-padding 0;
}

.switch__input,
.switch__label {
  position: absolute;
  left: 0;
  top: 0;
}

.switch__input {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;

  &:checked + .switch__label {
    background-color: $accent-mod-text-color;
  }

  &:checked + .switch__label + .switch__marker {
    left: calc(100% - $switch-height + $switch-padding);
  }
}

.switch__label {
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: $primary-mod-text-color;
  border-radius: inherit;
  z-index: 1;
  transition: background $switch-animation-duration;
}

.switch__marker {
  position: relative;
  background-color: white;
  width: calc($switch-height - $switch-padding * 2);
  height: calc($switch-height - $switch-padding * 2);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.25);
  left: $switch-padding;
  transition: left $switch-animation-duration;
  will-change: left;
}
