@import './favourites_coct';
@import './favourites_ingr';
@import './header';
@import './hero';
@import './main';
@import './footer';
@import './modal';
@import './error_search';
@import './switcher';
